<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

		<!-- mybatis整合 -->
		<!-- 配置工厂 -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<!-- 指定mybatis全局配置文件的位置 -->
			<property name="configLocation" value="classpath:mybatis-config.xml"/>
			<!-- 配置数据源 -->
			<property name="dataSource" ref="dataSource"/>
		</bean>
		
		<!-- 扫描自己的接口及mapper文件
		需要:		
		第一.接口和mapper在一个文件夹下
		第二.接口与mapper文件名相同
		-->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<!--扫描所有dao接口的实现，加入到ioc容器中 -->
			<property name="basePackage" value="cn.baozhen100.ssm.dao"/>
		</bean>

		<!-- 配置一个可以执行批量的sqlSession -->
		<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
			<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
			<constructor-arg name="executorType" value="BATCH"/>
		</bean>
</beans>